@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,500&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Encode+Sans:wght@100;200;300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{
    background-color: rgb(255, 255, 255);
}

/* ***************************************** start navegation ******************************************** */

.bg-light {
    background-color: rgb(244,244,244) !important;
    padding-top: 1px !important ;
    padding-bottom: 1px !important;

}

.bg-color-nav {
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(5px) saturate(100%) brightness(100%);
}

.nav-link {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.nav-link:hover {
  color: #7100a5 !important;
 
}
.menu-cambioColor {
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
    /* background-color: #FF5403 !important; */
    background-color: rgba(255, 193, 7, 1);
 }

 .titulo-nav{
    color: #FF5403;
    font-family: "Italianno",cursive !important;
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 2pt
 }


/* *************************+ End navegation +*************************************************** */

/* *************************+  Start footer +*************************************************** */
div.footerContainer {
    display: flex;
    justify-content:space-evenly;
    background:  rgb(113,0, 165);
    padding: 20px 0px;
  }


  footer  .nameContainer h3 {
        padding-top: 1rem;
      color: white;
      font-size: 4vmin;
      font-family: "Italianno",cursive !important;
      text-align: center;

  }
  footer  .nameContainer  {
    display: flex;
    flex-direction: column;
    justify-content: center !important;


}

  footer nav {
    padding-right: 2rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

  }

  footer a {
    text-decoration: none;
    padding-top: 0.5rem;
    color: white;
    font-size: medium;
  }

  footer a:hover{
    color: #ff9700;
  }


  div.bilboPhrase{
    padding: .5rem 2rem;
    text-align: justify;
    width: 40%;
    margin: 0 auto;

  }

  div.bilboPhrase p{
   font-size: small;
   color: white;

  }






/* *************************+ End footer +*************************************************** */

/* *************************+ START HOME +*************************************************** */

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
}

.banner video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner video:nth-child(2) {
    mix-blend-mode: screen;
    filter: brightness(2);
}

/*  */

.container-servi {
    width: 100%;
    background-image: linear-gradient(to top, #cd9cf27c 0%, #f6f3ff 100%) ;
    padding: 150px 0px;
}

.box-servi {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 0 30px;
}

.thumbex{
    margin: 10px 20px 30px;
    width: 100%;
    min-width: 250px;
    max-width: 435px;
    height: 300px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    outline: 2px solid white;
    outline-offset: -15px;
    background-color: blue;
    box-shadow: 5px 10px 40px 5px rgba(0,0,0,0.5);

}

.thumbnail{
    overflow: hidden;
    min-width: 250px;
    height: 300px;
    position: relative;
    opacity: 0.88;
    backface-visibility: hidden;
    transition: all 0.4s ease-out;

}

.thumbnail img{
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    height: 115%;
    width: 100%;
    transform: translate(-50%, -50%);
    backface-visibility: hidden;
  }

  .thumbnail  span{
    position: absolute;
    z-index: 2;
    top: calc(150px - 20px);
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.7);
    padding: 10px 50px;
    margin: 0 45px;
    text-align: center;
    font-size: 24px;
    color: white;
    font-weight: 300;
    letter-spacing: 0.2px;
    transition: all 0.3s ease-out;
  }

  .thumbex:hover{
    backface-visibility: hidden;
    transform: scale(1.15, 1.15);
    opacity: 1;
  }


.subtitle-principal h2{

    color: rgb(123, 123, 123);
}

.multipleStrings p{
    color: rgb(123, 123, 123) !important;
}



/* home services tours */

.service-item {
    transition: .5s;


  }

  .service-item:hover {
    box-shadow: 0 0 30px #CCCCCC;
  }

  .service-item i {
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #7100a5;
    background: #FFFFFF;
    color: #7100a5;
    transition: .5s;
  }

  .service-item:hover i {
    background: #7100a5;
    color: #FFFFFF;
  }

  .title{
    color:#7100a5 ;
  }

/*  */

.flip-boxes {
    background-color: rgb(255, 255, 255);
    border-color: rgb(217, 217, 217);
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    color: black;
}


/* about */

.about {
    margin: 4% auto;

  }

  .about h1 {
    color: #7100a5;

  }

  .about-parraf {
    text-align: justify;
    padding: 2%;
    line-height: 30px;
    font-size: 15px;
    font-style: italic;
    text-indent: 5%;
  }

  .about-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


/* galeria */

#galeria{
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.container-galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galeria-image{
    width: 260px;
    height: 220px;
    margin: 4px;
    transition: all 400ms ease-out;
    will-change: transform;

}



.galeria-image .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(241, 234, 242, 0.555);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
   text-align: center;
}

.galeria-image:hover > .capa {
    opacity: 1;
    visibility: visible;
}

div .hiden{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.hiden p{
    color: #7100a5;
    font-weight: bold;
}


.galeria-image img{
    width: 100%;
    height: 100%;
}




/********************************************** ++++++ CITIES ++++++***************************** cities */


.banner-cities{
    background: rgb(255,204,34);
    background: linear-gradient(0deg, rgba(255,204,34,0.0005135843399859397) 25%, rgba(255,200,34,0.8660598028273809) 100%);
    background-size: cover;
    min-height: 50vh !important;

}

.header-cities{
    display: flex;
    justify-content: center ;
    align-items: center;
    padding: 40px 5px 25px 5px;

}

@media screen and (max-width:600px) {
    .header-cities-text{
        text-align: center;
    }
    
}

  .tituloheader{
    font-size: 8vh !important;
    color: #7100a5;
  }

  .subtituloheader{

    color:rgba(85, 85, 85, 0.644) ;
    margin-top: 2vh;
    font-size: 3vh !important;
  }

  .imgheader3 {
    width: 35vw !important;
  }


  .search{
    display: flex;
    margin: 0px 0px 50px 0px;
    justify-content: center;
  }



 input:focus, input[type]:focus {
    border-color: #7100a5;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(255,144,0,0.6);
    outline: 0 none;
}

.btn-search{
    background-color: #7100a5;
    color: white;
}

.btn-search i{
   font-size: 20px;
}

.btn-search:hover{
    background-color: #7100a5!important;
    color:rgba(85, 85, 85, 0.644) !important ;

}


/*  section card cities */

#ctn-cities{

    margin-top: 10vh;
    margin-bottom: 25vh;
}
.cols {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20vh;
}

.col-card-cities {
    width: 400px;
    margin: 1.5rem;
    cursor: pointer;
}

.container-card-cities {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.front,
.back {
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-position: center;
    -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
        -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    min-height: 280px;
    height: auto;
    border-radius: 10px;
    color: #fff;
}

.back {
    background: #cedce7;
    background-image: linear-gradient(350deg, #fef65d 0, #ffe847 16.67%, #ffd92e 33.33%, #ffc902 50%, #ffb800 66.67%, #ffa800 83.33%, #ff9700 100%);
    font-size: 1.2rem;


    
}

.front:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    opacity: 0.6;
    background-color: rgba(233, 174, 78, 0.342);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}
.container-card-cities:hover .front,
.container-card-cities:hover .back {
    -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
        -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner {
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
}

.container-card-cities .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container-card-cities .front {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container-card-cities:hover .back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container-card-cities:hover .front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.front .inner p {
    font-size: 1.7rem;
    margin-bottom: 2rem;
    position: relative;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}



.front .inner p:after {
    content: "";
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #c6d4df;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -0.75rem;
}

.back .inner p {
    font-size: 1rem;
}

.front .inner span {
    color: rgba(255, 255, 255, 0.7);
    font-family: "Montserrat";
    font-weight: 300;
}

@media screen and (max-width: 64rem) {
    .col {
        width: calc(33.333333% - 2rem);
    }
}

@media screen and (max-width: 48rem) {
    .col {
        width: calc(50% - 2rem);
    }
}

@media screen and (max-width: 32rem) {
    .col {
        width: 100%;
        margin: 0 0 2rem 0;
    }
}




.btn-plus{
    background-color: #FF5403 ;
    color: white;
}

.btn-plus i{
   font-size: 20px;
}

.btn-plus:hover{
    background-color:#7100a5 !important;
    color: white !important ;

}


/* ****************************=============== detalle city=========================*************************************************** */
.baner-city{
    height: 100vh;
    background-repeat: no-repeat !important;
    background-position: center center;
    background-size: cover;
    position: relative;
    text-align: center;


}

.nombre-city {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.nombre-city h2 {
    color: white;
    font-size: 14vmin;
    font-family: "Cinzel",serif !important;
    text-shadow: 1px 1px 2px #000;
    letter-spacing: 10px;
 }

 .slogan{
    margin-top: 15vh;
   /*  margin-bottom: 5vh; */
    
    
 }

 .slogan p{
    color: #7100a5;
    font-family: "Cinzel",serif !important;
    font-size: 2vmax;
    font-weight: 900;
    font-style: italic;
    padding: 0px 15px;
    text-align: center;
 }
 
 
 /* /* detail section */
.detail_section {
    margin-bottom: 15vh;
  } 
  
  .detail_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 5%;
  }
  
  .detail-box {
    min-width: 160px;
    min-height: 160px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    border: 0.5px solid rgb(113,0, 165);
    background: #cedce7;
    background-image: linear-gradient(350deg, #fef65d 0, #ffe847 16.67%, #ffd92e 33.33%, #ffc902 50%, #ffb800 66.67%, #ffa800 83.33%, #ff9700 100%);

  }
  
  .detail-box::before {
    content: "";
    position: absolute;
    width: 220px;
    height: 220px;
    top: auto;
    left: auto;
    background-color: #d5bae57c;
    z-index: -1;
    border-radius: 100%;
    transition: transform 1s;
    transform: rotate();
  }
  
  .detail-box.d-box-1::before,
  .detail-box.d-box-3::before {
    clip: rect(110px, 220px, 220px, 0);
  }
  
  .detail-box:hover {
    cursor: pointer;
  }
  
  .detail-box:hover::before {
    transform: rotate(360deg);
  }
  
  .detail-box.d-box-2::before,
  .detail-box.d-box-4::before {
    clip: rect(0, 220px, 110px, 0);
  }
  
  .detail-box h5 {
    font-size: 16px;
    color: #fefefe;
    margin-top: 7px;
  }
  
  .detail-box h6 {
    font-size: 14px;
    color: #fefefe;
    margin-top: 4px;
  }
  
  .detail-box .detail-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .detail-box .detail-content img {
    height: 50px;
  }
  




  /* end detail section */







 #ctn-band-img{
    margin-top: 5vh;
    margin-bottom: 15vh;
    padding: 20px;
 }

.clearfix{
    width: 50%;

}

.clearfix p{
    font-size: 15px;
    padding: 0px 10px;
    text-align: justify;
    text-indent: 20px;
    line-height: 30px;

}

.box-info-image2{
    width: 50%;
    
}

@media (max-width:768px) {
    .bandera-image{
       flex-direction: column;
    
    }

    .clearfix, .box-info-image2{
        width: 100%;
        
    }

}

.box-info-image2 img{

    width: 100%;
    border-radius: 20px;


}

